.footer__wrapper {
  padding-top: 3rem;
  padding-bottom: 1rem;
}
.footer-block {
  text-align: left;
}
.footer-block-center {
  text-align: center;
}
.footer-icon {
  font-size: 30px;
}
.footerul {
  list-style: none;
  padding: 0;
  float: left;
  margin-left: 50px;
}